Assigned To
{{#power-select
  options=allBoys
  searchField='name'
  selected=ticket.fb
  onchange=(action (mut ticket.fb))
  as |boy|
}}
  {{boy.name}}
{{/power-select}}

<button class="btn btn-success" {{action 'assignTo'}} > Assign </button>
{{yield}}
